pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 15px;
}


div {
    margin-left: 20px;
}
div.issues {
    font-size: 1.2em;
    width: 1000px;
}
div.report {
    font-size: 1.3em;
}

div.mathlist {
    float: center;
}
div.mathlist math {
    max-height: 100px;
    overflow: auto;
}

div.wrapper {
    width: 90%;
    padding: 10px;
}

div.image {
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0px; 
    padding-top: 15px;
    background-color: rgba(0,0,0,0);
    float: left;
    font-size: 0.9em;
    text-align: center;
}
div.image img {
    border: 1px solid #000000;
    max-height: 90%;
    padding: 0px;
    margin: 0px;
}

div.linklist {
    font-size: 1.5em;
    margin: 0.5em; 
    width: 1000px;
}
div.linklist.a {
    fontsize: 1.2em;
    margin: 1em;
}
